<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Drop It!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles%}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'website/style.css' %}"/>
</head>
<body>
<nav class = "navbar navbar-inverse">
     <div class = "container-fluid">
        <div class = "navbar-header">
            <a href = "/" class = "navbar-brand">DropIt!</a>
         <button type = "button" class = "navbar-toggle " data-toggle = "collapse" data-target = "#main">
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
         </button>
        </div>
        <div class = "collapse navbar-collapse" id = "main">
            <ul class = "nav navbar-nav navbar-right">
                <li class = "active"><a href = "/login"><span class = "glyphicon glyphicon-log-in"></span>&nbsp; Login</a></li>
                <li><a href = "/register"><span class = "glyphicon glyphicon-user"></span>&nbsp; Register</a></li>
            </ul>
        </div>
            </form>
        </div>
    </nav>
{%block body%}
{% endblock %}
</body>
</html>